#skills {
  background-color: #000000; /* Change to your preferred color */
  padding: 50px 0; /* Add padding for spacing */
}
#profiles {
  background-color: #000000; /* Change to your preferred color */
  padding: 50px 0; /* Add padding for spacing */

}

.skill_section {
  background-image: url(/skill-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.skill_section .row .col-md-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
  margin: 25px 0;
}

.skill_section .row .col-md-3 h6 {
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
  
  color: #ffffff; /* Ensure text is white */
  text-shadow: 0 0 5px rgb(0, 0, 0), 
               0 0 10px rgba(255, 255, 255, 0.9), 
               0 0 15px rgba(0, 0, 0, 0.8), 
               0 0 20px rgb(55, 47, 47), 
               0 0 30px rgba(255, 255, 255, 1);
}



.skill_section .skill_padding {
  padding: 75px 0;
}

.skill_section .custom_heading-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skill_section .custom_heading-container h2 {
  color: #000000;
}

.skill_section .custom_heading-container h2::before, .skill_section .custom_heading-container h2::after {
  background-color: #ffffff;
}

.skill_section .progress_text {
  font-size: 24px !important;
  color: #ffffff;
  font-weight: bold;
}
